In [20]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from subprocess import check_output
print(check_output(["ls", "../../datasets/melb_data.csv"]).decode("utf8"))

../../datasets/melb_data.csv

In [21]:
data=pd.read_csv('../../datasets/melb_data.csv')#Reading CSV file and saving it as a panda dataframe

In [32]:
    print(data.describe())#Data Description

         Unnamed: 0        Rooms         Price     Distance     Postcode  \
count   6196.000000  6196.000000  6.196000e+03  6196.000000  6196.000000
mean    9632.061491     2.931407  1.068828e+06     9.751097  3101.947708
std     5743.219058     0.971079  6.751564e+05     5.612065    86.421604
min        2.000000     1.000000  1.310000e+05     0.000000  3000.000000
25%     4544.750000     2.000000  6.200000e+05     5.900000  3044.000000
50%     9346.500000     3.000000  8.800000e+05     9.000000  3081.000000
75%    14544.750000     4.000000  1.325000e+06    12.400000  3147.000000
max    19739.000000     8.000000  9.000000e+06    47.400000  3977.000000

          Bedroom2     Bathroom          Car      Landsize  BuildingArea  \
count  6196.000000  6196.000000  6196.000000   6196.000000   6196.000000
mean      2.902034     1.576340     1.573596    471.006940    141.568645
std       0.970055     0.711362     0.929947    897.449881     90.834824
min       0.000000     1.000000     0.000000      0.000000      0.000000
25%       2.000000     1.000000     1.000000    152.000000     91.000000
50%       3.000000     1.000000     1.000000    373.000000    124.000000
75%       3.000000     2.000000     2.000000    628.000000    170.000000
max       9.000000     8.000000    10.000000  37000.000000   3112.000000

         YearBuilt    Lattitude   Longtitude  Propertycount
count  6196.000000  6196.000000  6196.000000    6196.000000
mean   1964.081988   -37.807904   144.990201    7435.489509
std      38.105673     0.075850     0.099165    4337.698917
min    1196.000000   -38.164920   144.542370     389.000000
25%    1940.000000   -37.855438   144.926198    4383.750000
50%    1970.000000   -37.802250   144.995800    6567.000000
75%    2000.000000   -37.758200   145.052700   10175.000000
max    2018.000000   -37.457090   145.526350   21650.000000

In [33]:
    data.columns #Displaying the cumn names of the dataframe

Index(['Unnamed: 0', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method',
       'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom',
       'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea',
       'Lattitude', 'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [34]:
print(data.columns)

Index(['Unnamed: 0', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method',
       'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom',
       'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea',
       'Lattitude', 'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [35]:
p_data=data.Address
p_data.head() #head gives first 5 rows of the dataframe
p_data.tail() #tail gives last 5 rows of the dataframe

15388      30 Sherwin St
15389        75 Cecil St
15390      2/29 Dover Rd
15392    201/152 Peel St
15395    54 Pentland Pde
Name: Address, dtype: object

In [36]:
data.Price.head()

1    1035000.0
2    1465000.0
4    1600000.0
6    1876000.0
7    1636000.0
Name: Price, dtype: float64

In [37]:
col=['Landsize', 'BuildingArea']
t=data[col]
t.describe()

           Landsize  BuildingArea
count   6196.000000   6196.000000
mean     471.006940    141.568645
std      897.449881     90.834824
min        0.000000      0.000000
25%      152.000000     91.000000
50%      373.000000    124.000000
75%      628.000000    170.000000
max    37000.000000   3112.000000

In [38]:
data=data.dropna() #Removing NULL Values
#We are dividing the data into predictors(INDEPENDENT) and prediction(DEPENDENT) arrays
predict=['Price']
y=data[predict]
predictors=['Rooms', 'Bathroom', 'Landsize', 'BuildingArea', 'YearBuilt', 'Lattitude', 'Longtitude']
X=data[predictors]

In [39]:
#using decision tree model
from sklearn.tree import DecisionTreeRegressor as dt
model = dt()
model.fit(X, y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [40]:
model.predict(X.head())#predicting our independent variable for first 5 roes

array([1035000., 1465000., 1600000., 1876000., 1636000.])

In [41]:
model.predict(X.tail())

array([ 601000., 1050000.,  385000.,  560000., 2450000.])

In [42]:
model.predict([[2,1.0,156.0,79.0,1900.0,-37.8079,144.9934]]) #prediction for custom input

array([1035000.])

In [43]:
#MODEL VALIDATION using mean absolute error
from sklearn.metrics import mean_absolute_error
predict=model.predict(X)
mean_absolute_error(y,predict)

434.71594577146544

In [44]:
#MODEL VALIDATION by dividing data into training and tesing dataset
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor as dt

# split data into training and validation data, for both predictors and target
# The split is based on a random number generator. Supplying a numeric value to
# the random_state argument guarantees we get the same split every time we
# run this script.
train_X, val_X, train_y, val_y = train_test_split(X, y,random_state = 0)
# Define model
melbourne_model =dt()
# Fit model
melbourne_model.fit(train_X, train_y)

# get predicted prices on validation data
val_predictions = melbourne_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

262814.9728857327

In [45]:
#OPtimium fitting using max_leaf_nodes as a meetric for finding out optimum number of leaves to use
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

def get_mae(max_leaf_nodes, predictors_train, predictors_val, targ_train, targ_val):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(predictors_train, targ_train)
    preds_val = model.predict(predictors_val)
    mae = mean_absolute_error(targ_val, preds_val)
    return(mae)
# compare MAE with differing values of max_leaf_nodes
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  347380
Max leaf nodes: 50  		 Mean Absolute Error:  258171
Max leaf nodes: 500  		 Mean Absolute Error:  243495
Max leaf nodes: 5000  		 Mean Absolute Error:  254983

In [46]:
#Using Random forrests
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
train_X, val_X, train_y, val_y = train_test_split(X, y,random_state = 0)
forest_model = RandomForestRegressor()
forest_model.fit(train_X, train_y.values.ravel())
#The function expects train_y to be a 1D array,ravel() converts the 2d array to 1d array 
melb_preds = forest_model.predict(val_X)
print(mean_absolute_error(val_y, melb_preds))

193410.2260622829